<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Amazon Test Suite">

	<parameter name="browserName" value="chrome" />
	<parameter name="url" value="https://www.amazon.com/" />

	<test name="Test Basics 1">

		<classes>
			<!-- <class name="homePageTest.HomePageTest"/> -->
			<class name="signUpPageTest.SignUpPageTest" />

		</classes>


	</test>



</suite>